@use '../variables.scss';

.btn {
    cursor: pointer;
    display: inline-block;
    font-family: cormorant-garamond;
    text-align: center;
    font-size: medium;


    @media (min-width: 768px) {
        
    }
}

.btn-borderless {
    color: variables.$text-sub;
    background-color: transparent;
    border: 0;
    margin: 0px 10px; 

    &.large{
        font-size: 26px !important;
    }
}

.btn-borderless:hover{
    color: variables.$accent-blue;
}

.btn-borderless:active{
    border-bottom: 1px;
}