@use './variables.scss';

:root {

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;



  font: 18px/100% var(cormorant-garamond);
  letter-spacing: 0.18px;
  color: var(variables.$text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  align-items: center;
  margin: 0;
}

h1,
h2 {
  font-family: var(cormorant-garamond);
  font-weight: 100;
  color: var(variables.$text);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 15px;


  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

.img {
  &.lg {
    max-width: 100%;
  }

  &.med {
    min-width: 20%;
    max-width: 60%;
  }

  &.sm {
    max-width: 50%;
  }

  height: 100%

}

  @media(max-width: 800px) {
    .img.med{
      max-width: 50%;
    }
    .img.sm{
      max-width: 20%
    }
  
  }

.gallery-div {
  gap: 20px;
}

.italics {
  font-style: italic;
}