@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

$accent-blue: #5099dd;
$accent-orange: #FAD5A5;
$text: #9A9A9A;
$text-sub: #737373;